$icon-font-path: '~@neos21/bootstrap3-glyphicons/assets/fonts/';
@import '~@neos21/bootstrap3-glyphicons';
/*********MAIN***********/
body{
  font-family: 'Roboto', sans-serif;
}
.navbar-toggler{
  background-color: white;
}
.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: red;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: red;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: red;
}
/*********STATUS-PANEL***********/
#amount-btn {
  padding: .25rem 1.5rem;
}

.status-panel {
  border-bottom: 5px red solid;
}

.status-panel h2 {
  font-size: 20px;
  text-align: center;
}
.err{
  padding: 0;
  height: 30px;
  margin-top: 10px;
}

.transaction-delete p{
  cursor: pointer;
}
.control {
  margin-top: 10px;
  text-align: center;
}

.status-panel-block{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.control-btn{
  padding: 3px;
}

.form-control{
  padding: 0;
}
.form-control.is-valid {
  padding: 0;
}
.form-control.is-invalid{
  padding: 0;
}
/*********HISTORY***********/
.history-block {
  padding-top: 10px;
}

.transaction-history span {
  font-size: 3em;
  margin: 7px;
}

.minus {
  color: red;
}

.plus {
  color: blue;
}

.transaction {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}

.transaction-block{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.transaction-info{
  padding-left: 20px;
}

.transaction-amount{
  font-weight: bold;
  font-size: 24px;
}

.transaction-date{
  font-size: small;
}

.transaction-delete{
  font-weight: bold;
  padding: 7px 7px 0 0;
}

